@import "../components/scssCommon.scss";
@import "../components/mixins.scss";

.container {
	color: $text-color;
	margin-top: 40px;
	padding: 50px;
	box-shadow: 0px 0px 46px -3px rgba(0, 0, 0, 0.116);
	border-radius: 20px;
	margin-bottom: 100px;
	@include responsive(1000px) {
		padding: 30px;
	}
}

.demo-container {
}

.top-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// margin-top: 100px;
	margin-bottom: 40px;
}

.heading {
	// max-width: 740px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.h1 {
		max-width: 600px;
		margin-right: 30px;
		@include responsive(750px) {
			font-size: 28px;
		}
		@include responsive(500px) {
			font-size: 22px;
		}
		@include responsive(400px) {
			font-size: 18px;
		}
	}
}

.price {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	span {
		flex-shrink: 0;
		font-size: 40px;
		font-weight: 700;
		font-variant-numeric: lining-nums;
		margin-left: 10px;
		@include responsive(750px) {
			font-size: 28px;
		}
	}
}

.icon-heart {
	width: 37px;
	height: 37px;
	@include responsive(1000px) {
		display: none;
	}
}

.middle-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	@include responsive(1000px) {
		flex-direction: column;
	}
}

.image-wrapper {
	width: 740px;
	height: 500px;
	margin-right: 10px;
	@include responsive(1000px) {
		width: 100%;
		height: 350px;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}

.seller-info {
	width: 370px;
	flex-shrink: 0;
	height: 500px;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.33);
	border-radius: 10px;
	@include responsive(1000px) {
		width: 100%;
		display: flex;
		flex-direction: row;
		height: unset;
		justify-content: space-between;
	}
	@include responsive(750px) {
		justify-content: center;
	}
	@include responsive(520px) {
		flex-direction: column;
		align-items: center;
	}
}

.demo-seller-info {
	width: 340px;
}

.seller-name-wrapper {
	height: 115px;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
	border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding-left: 40px;
	@include responsive(1000px) {
		box-shadow: none;
		width: 200px;
		height: unset;
		padding: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@include responsive(520px) {
		padding-bottom: 0;
		padding-top: 30px;
	}
}

.seller-pic {
	width: 64px;
	height: 64px;
	background-color: rgb(7, 192, 183);
	border-radius: 50%;
}

.seller-name-inner {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	@include responsive(1000px) {
		margin: 0;
		margin-top: 10px;
		text-align: center;
	}
}

.seller-name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.seller-company {
	font-size: 14px;
}

.contact-info {
	padding: 40px 50px;
	display: flex;
	flex-direction: column;
	@include responsive(1000px) {
		flex-direction: row;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		padding: 30px;
	}
	@include responsive(750px) {
		flex-direction: column;
		width: unset;
		align-items: flex-start;
	}
	@include responsive(520px) {
		align-items: center;
	}
}

.contact-info-title {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 30px;
	@include responsive(1000px) {
		display: none;
	}
}

.communications {
	@include responsive(1000px) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		padding: 10px 0;
		margin-right: 20px;
	}
}

.seller-phone {
	display: block;
	font-variant-numeric: lining-nums;
	position: relative;
	padding-left: 40px;
	margin-bottom: 20px;
	&::before {
		content: "";
		background-image: url("../images/icon-phone.png");
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 25px;
		height: 25px;
	}
}

.seller-email {
	display: block;
	position: relative;
	padding-left: 40px;
	&::before {
		content: "";
		background-image: url("../images/icon-mail.png");
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 25px;
		height: 25px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.message-wrapper {
	@include responsive(1000px) {
		width: 40%;
		min-width: 200px;
	}
}

.message {
	border-radius: 10px;
	border-color: $primary-color;
	width: 100%;
	max-width: 100%;
	height: 90px;
	max-height: 90px;
	margin-top: 50px;
	margin-bottom: 15px;
	padding: 10px;
	@include responsive(1000px) {
		margin-top: 0;
		height: unset;
	}
}

.btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		text-decoration: none;
		color: white;
		background-color: $primary-color;
		width: 100%;
		border-radius: 10px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: ease 0.2s all;
		&:hover {
			background-color: $primary-color-hover;
		}
		&:active {
			background-color: $primary-color-active;
		}
	}
}

.under-photo {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	@include responsive(1000px) {
		flex-direction: column-reverse;
	}
}

.description {
	max-width: 760px;
	margin-right: 20px;
}

.details {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	max-width: 370px;
	width: 100%;
	margin-bottom: 50px;
	@include responsive(1000px) {
		max-width: unset;
	}
}

.demo-details {
	max-width: 340px;
}

.details-header {
	font-size: 19px;
	font-weight: 500;
	border-bottom: 1px solid rgb(212, 212, 212);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.details-string {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid rgb(212, 212, 212);
	padding-bottom: 5px;
	span {
		padding-right: 10px;
	}
}
