@import "../components/scssCommon.scss";

.inner {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 100px;
}

.filters {
	flex-shrink: 0;
	width: 250px;
	min-height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.36);
	margin-right: 40px;
}

.content {
	flex-grow: 1;
	max-width: 910px;
	width: 100%;
}

.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 100%;
}

h1 {
	margin: 0;
}

.sort-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ads {
	margin: 0 -11.5px;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
