@import "../components/scssCommon.scss";

.h1 {
	text-align: center;
	margin-top: 50px;
}

.wrapper {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
