@import "./scssCommon.scss";
@import "./mixins.scss";

.wrapper-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 17, 9, 0.52);
	backdrop-filter: blur(5px);
	z-index: 500;
	transition: all 0.2s ease;
}

.menu {
	position: absolute;
	height: 100%;
	width: 300px;
	background-color: white;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.36);
	top: 0;
	right: -300px;
	z-index: 1000;
	transition: all 0.2s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.open {
	right: 0;
	transition: all 0.2s ease;
}

.close-icon {
	display: block;
	&::before {
		content: "";
		position: absolute;
		right: 30px;
		top: 30px;
		background-image: url("../images/icon-close.png");
		background-position: center;
		background-size: cover;
		width: 35px;
		height: 35px;
		cursor: pointer;
		z-index: 1001;
	}
}
