@import "./scssCommon.scss";

.btn {
	width: 140px;
	height: 35px;
	background-color: $primary-color;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	transition: ease 0.2s all;
	cursor: pointer;

	&:hover {
		background-color: $primary-color-hover;
	}
	&:active {
		background-color: #198c74;
	}
}
