@import "../components/scssCommon.scss";
@import "../components/mixins.scss";

.filters {
	flex-shrink: 0;
	width: 250px;
	min-height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.676);
	background-color: white;
	margin-right: 40px;
	padding: 40px 20px;

	@include responsive(950px) {
		// display: none;

		position: absolute;
		left: -120%;
		top: 50px;
		transition: all 0.3s ease;
	}
	h2 {
		font-size: 20px;
		color: $text-color;
		margin-bottom: 30px;
	}
}

.filter-open {
	flex-shrink: 0;
	width: 250px;
	min-height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.656);
	background-color: white;
	margin-right: 40px;
	padding: 50px 20px;
	@include responsive(950px) {
		position: absolute;
		top: 50px;
		left: 0px;
		z-index: 600;
		transition: all 0.3s ease;
	}
}

.close-icon {
	display: none;
	@include responsive(950px) {
		display: block;
		&::before {
			content: "";
			position: absolute;
			left: 20px;
			top: 30px;
			background-image: url("../images/icon-close.png");
			background-position: center;
			background-size: cover;
			width: 20px;
			height: 20px;
			cursor: pointer;
			z-index: 1001;
		}
	}
}

.content {
	display: flex;
	flex-direction: row;
}

.filter-type-heading {
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 5px;
}

.inputs {
	// display: flex;
	// justify-content: space-between;
	span {
		color: $primary-color;
		padding-top: 5px;
	}
}

.form {
	input {
		width: 80px;
		height: 30px;
		padding: 0 10px;
		font-variant-numeric: lining-nums;
		border: 1px solid $primary-color;
		border-radius: 10px;
	}
}

.bad-value {
	font-size: 14px;
	color: red;
}

.btn-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btn-filter-apply {
	display: none;
	@include responsive(950px) {
		display: block;
		margin-top: 30px;
		border: none;
		background-color: $primary-color;
		color: white;
		padding: 8px 30px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.btn-filter-reset {
	margin-top: 30px;
	border: none;
	background-color: $primary-color;
	color: white;
	padding: 8px 30px;
	border-radius: 10px;
	cursor: pointer;
	@include responsive(950px) {
		border: 1px solid $primary-color;
		background-color: white;
		color: $primary-color;
	}
}
