@import "./scssCommon.scss";
@import "./mixins.scss";

header {
	flex-shrink: 0;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 90px;
	position: relative;
	@include responsive(500px) {
		flex-direction: column;
		padding: 20px 0;
	}
}

.logo {
	width: 172px;
	@include responsive(500px) {
		width: 140px;
	}
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn-wrap {
	@include responsive(850px) {
		padding-right: 60px;
	}
	@include responsive(500px) {
		padding-right: 0px;
		margin-top: 15px;
	}
}

.menu-icon {
	display: none;
	@include responsive(850px) {
		display: block;
		&::before {
			content: "";
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url("../images/icon-menu.png");
			background-position: center;
			background-size: cover;
			width: 35px;
			height: 35px;
			cursor: pointer;
		}
	}
}
