@import "./scssCommon.scss";

header {
	flex-shrink: 0;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.logo {
	width: 172px;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu {
	margin-right: 40px;
	display: flex;
	flex-direction: row;
}

.link {
	color: $text-color;
	text-decoration: none;
	transition: ease 0.2s all;
	margin: 0 30px;
	cursor: pointer;

	&:hover {
		color: $primary-color-hover;
	}
}
