.hero {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 80vh;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.hero:before {
  content: "";
  background: url("./Assets/heroimg.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  align-items: center;
}

.hero h1 {

  font-size: 3rem;
  text-transform: capitalize;
}

.hero .search-text {
  margin: 1.5rem;
  font-size: 1.5rem;
}

.content  button {
  display: inline-block;
  width: 278px;
  height: 50px;
  left: 581px;
  top: 400px;
  border-radius: 20px;
  background-color: #22c09f;
  color: white;
  border:none;
  font-size: 20px;
  transition: ease 0.2s all;
  cursor: pointer;

  &:hover {
    background-color: #1ba789;
  }
  &:active {
    background-color: #198c74;
  }
}

@media screen and (max-width: 940px) {
  .hero {
    height: 70vh;
  }

  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 0.2rem;
  }
  .content button {
    width: 10rem;
    font-size: 0.8rem;
    
  }
}
