@import "./scssCommon.scss";

.wrapper {
	width: 166px;
	height: 212px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.36);
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
	}
}
